{% extends "Blank page.html" %}

{% block content %}
<div class="t1032__col t-col t-col_4 t1032__col">
    <div class="t1032__content" style="border-width: 2px;">
        <div class="t1032__wrapper"><img class="t1032__img t1032__img_circle t-img"
                                         src="https://static.tildacdn.info/tild3430-3063-4664-b233-306262663463/logo.svg"
                                         imgfield="li_img__1655891337927" data-tu-max-width="300"
                                         data-tu-max-height="300"
                                         style=""
                                         alt="" role="presentation">
            <div class="t1032__title t-name t-name_xl" style="" field="li_title__1655891337927">
                Игровой
            </div>
            <div class="t1032__descr t-text" style="" field="li_descr__1655891337927">Предложение
                ограничено<br/>безлимит на Tele2 России<br/><strong>700 минут на остальные номера
                России</strong><br/><strong>30 гигабайт</strong><br/>Стриминг<br/>видео и общение безлимитно<br/>Домашний
                интернет от 100 Мбит/с<br/><strong>890₽/месяц</strong></div>
        </div>
    </div>
</div>
{% endblock %}