{% extends "Blank page.html" %}
{% block content %}
<div class="t1032__col t-col t-col_4 t1032__col">
    <div class="t1032__content" style="border-width: 2px;">
        <div class="t1032__wrapper"><img class="t1032__img t1032__img_circle t-img"
                                         src="https://static.tildacdn.info/tild6333-3433-4565-b063-356663383937/logo.svg"
                                         imgfield="li_img__1656432836498" data-tu-max-width="300"
                                         data-tu-max-height="300"
                                         style=""
                                         alt="" role="presentation">
            <div class="t1032__title t-name t-name_xl" style="" field="li_title__1656432836498">Мой
                разговор
            </div>
            <div class="t1032__descr t-text" style="" field="li_descr__1656432836498">Предложение
                ограничено<br/>Безлимит на Tele2 России<br/><strong>200 минут</strong><br/>на другие
                мобильные номера домашнего
                региона<br/><strong>10ГБ</strong><br/><strong>500₽/месяц</strong></div>
        </div>
    </div>
</div>
{% endblock %}