{% extends "Blank page.html" %}

{% block content %}
<div class="t1032__col t-col t-col_4 t1032__col">
                        <div class="t1032__content" style="border-color: #000000;border-width: 2px;">
                            <div class="t1032__wrapper" style="height: 498.094px;"><img
                                    class="t1032__img t1032__img_circle t-img" src="https://static.tildacdn.info/tild3430-3063-4664-b233-306262663463/logo.svg"
                                    imgfield="li_img__1655891337927" data-tu-max-width="300" data-tu-max-height="300"
                                    style="" alt="" role="presentation">
                                <div class="t1032__title t-name t-name_xl" style="height: 35.0938px;"
                                     field="li_title__1655891337927">супер онлайн +
                                </div>
                                <div class="t1032__descr t-text" style="height: 300px;" field="li_descr__1655891337927">
                                    <p style="text-align: left;"><strong>Предложение ограничено</strong></p>
                                    <p style="text-align: left;">Безлимит на Tele2 России</p>
                                    <p style="text-align: left;">800 минут на остальные номера России</p>
                                    <p style="text-align: left;"><strong>40+40ГБ</strong></p>
                                    <p style="text-align: left;">Домашний интернет от 100 Мбит/с</p>Telegram, Viber,
                                    WhatsApp безлимитно<br>ВКонтакте, Одноклассники, Tik Tok безлимитно<br>
                                    <p style="text-align: left;">Тысячи фильмов, сериалов и 100 ТВ-каналов от Wink</p>
                                    <p style="text-align: left;">Эксклюзивные новинки от more.tv</p>
                                    <p style="text-align: left;"><strong>500₽/месяц</strong></p></div>
                            </div>
                        </div>
                    </div>
{% endblock %}